@model User
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
<dl>
    <dt>Firstname Lastname</dt>
    <dd>@Model.FirstName @Model.LastName</dd>
    <dt>Email</dt>
    <dd>@Model.Email</dd>
</dl>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in await _userManager.GetRolesAsync(Model))
        {
            
        <tr>
            <td>#</td>
            <td>@item</td>
            <td>
                <a asp-area="Admin" asp-controller="User" asp-action="DeleteRole" asp-route-userId="@Model.Id" asp-route-role="@item" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>