@model List<User>
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@{
   int counter = 0;
}
    <table class="table table-hover table-warning" >
        <thead>

        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            counter++;
            <tr>

            <td>@counter</td>
            <td>@item.FirstName @item.LastName</td>
            <td>
                @{
                    var roles = await _userManager.GetRolesAsync(item);
                }
                @foreach (var role in roles)
                {
                    @role <span>/</span>
                }

            </td>
            <td>
                <a asp-area="Admin" asp-controller="User" asp-action="AddRole" asp-route-userId="@item.Id" class="btn btn-success">Add Role</a>
                <a asp-area="Admin" asp-controller="User" asp-action="EditRole" asp-route-userId="@item.Id" class="btn btn-warning">Edit Role</a>
            </td>
            </tr>
        }
        </tbody>
    </table>