@model Article
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="PhotoUrl" />



    <div class="form-group">
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" class="form-control"  />
        <span asp-validation-for="Title" class="text-danger"></span>
        
    </div>
    <div class="form-group">
        <label asp-for="Content">
            <textarea id="editor1" asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </label>
    </div>
    <div class="form-group">
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">

            <option>Select Category</option>
        </select>
    </div>
    <div class="form-group">
        <select multiple name="tagIds" class="form-control">
            @foreach (var item in ViewBag.Tags as List<Tag>)
            {
                if (Model.ArticleTag.Select(x => x.TagId).Contains(item.Id))
                {
                    
                    <option selected value="@item.Id">@item.TagName</option>
                }
                @*Tag-lar Edit sehifesine secilmis gelecek*@
                @*Bunun ucun Model olaraq ArticleTag gonderirikse Controllerde de Article tag-i include*@
                @*Tag -i ise thenInclude etmek lazimdir*@
                else
                {
                    <option value="@item.Id">@item.TagName</option>

                }
            }
        </select>
    </div>
    <div>
        <input type="file" accept="image/*" name="file" class="form-control"  />
        <span asp-validation-for="PhotoUrl" class="text-danger"></span>
        <img src="@Model.PhotoUrl" width="200" alt=" " />
    </div>
    @if (User.IsInRole("Admin Editor") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Manager"))
    {
        <div class="form-group">
            <label asp-for="IsActive"></label>
            <input type="checkbox" asp-for="IsActive" />

        </div>
        <div class="form-group">
            <label asp-for="isFeatured"></label>
            <input type="checkbox" asp-for="isFeatured" />

        </div>
        <div class="form-group">
            <label asp-for="IsDeleted"></label>
            <input type="checkbox" asp-for="IsDeleted" />

        </div>
    }

    <button type="submit" class="btn btn-dark">Update</button>
</form>
@section Script {
    <script src="//cdn.ckeditor.com/4.22.0  /standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor1");
    </script>
    @* burda ise gelib @section ve verdiyimiz adi yaziriq ve linki otururuk(Ck editordan goturduyumuz)*@
    @* ve ikinci scriptin icinde  adini editor1 ile deyisib hara tetbiq elemek isteyirikse orda otururuk id ile(id=editor1)*@

}