@model IEnumerable<Article>

    @section Link{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />

   

    }

<table id="myTable" class="table table-dark table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Status</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Category.CategoryName</td>
                <td>
                    @foreach (var tag in item.ArticleTag)
                    {
                        <span>
                            @tag.Tag.TagName
                        </span>
                    }
                </td>
                <td>@(item.IsActive? "aktiv":"deaktiv")</td>
                <td>
                    <img src="@item.PhotoUrl" width="200" />
                </td>
                <td>
                    <form method="post" asp-action="Delete"asp-route-id="@item.Id">
                    <button type="submit" onclick="return confirm('Are you sure to delete this article:@item.Title')" class="
btn btn-danger">Delete</button>


                    </form>
                    <a class="btn btn-warning" asp-area="Admin" asp-controller="Article" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                
                </td>
            </tr>

        }
    </tbody>
</table>
<a href="/admin/article/create" class="btn btn-success btn-block">Create</a>
@section Script{

    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>

}